@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,400i,700');

#top {
  margin-top: 60px;
}

.center {
  text-align: center;
}

h2 {
  color: #158cba;
}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.online{
  display:flex;
  align-items: flex-start;
  justify-content: center;
}

.online i, .online a {
  display: block;
  width: 300px;
}

ul#descargas{
  list-style: none;
  margin: 0;
  padding: 10px;
}

ul#descargas li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.descripcionLibros {
  height: 65px;
}

.footer {
  font-size: 1.2em;
  padding: 20px;
  margin-top: 80px;
}


.btn-lg {
  font-size: 1.1em !important;
}

.border {
  border: 1px solid red !important;
}

.right {
  text-align: right;
}

.btn {
  margin: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

.descargas .btn:hover {
  margin-top: 3px !important;
  border-bottom-width: 4px !important;
  opacity: 0.75 !important;
}

.descargas img {
  width: 300px;
}

.descripciones {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
  max-width: 800px;
  margin: auto;
}

.descripciones h1 {
  margin-bottom: 45px;
}

.descripciones li {
  margin-top: 1em;
}

.descripciones br {
  margin-bottom: 1em;
}

.descripciones p{
  margin: 0px 0px 15px;
}

.quienes-somos {
  padding-top: 100px;
  max-width: 800px;
  margin: auto;
}

.quienes-somos h1 {
  margin-bottom: 45px;
}

code { 
  font-family: monospace;
}