# See http://help.github.com/ignore-files/ for more about ignoring files.

.DS_Store

# compiled output
/dist
/tmp
/dist_web

# dependencies
/node_modules
/bower_components
pilas-bloques

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
npm-debug.log
testem.log

app/components/descripcion-acerca-de.js
app/templates/components/descripcion-acerca-de.hbs

.idea
