# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/dist_web

# dependencies
/node_modules
/bower_components
pilas-engine-bloques

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
