<div class="descripciones">

<h1>Notas de versión</h1>

<p>Los cambios que fueron sucediendo con cada versión pueden encontrarse detallados {{#link href='https://github.com/Program-AR/pilas-bloques/blob/master/notasDeVersion.md'}}aquí{{/link}}.
En esta página se listan los cambios más importantes ocurridos entre versiones estables.
</p>

<h2>1.9.2 (8 de abril de 2022)</h2>
<p>Estos son los principales cambios sucedidos <b>entre las versiones 1.8.0 y 1.9.2</b>:</p>
<ul>
  <li> ¡ Ahora Pilas Bloques está disponible en <b>inglés</b> ! </li>
  <ul>
    <li> Agregamos un botón de <b>selección de idiomas</b>.<br>
      <div class="center"><img src="imagenes/notasDeVersion/1.9.2/languages.gif"/></div> 
    </li>
    <li> Si querés colaborar agregando otro idioma podés hacerlo. ¡Contactanos!. Envianos un mail a <Link @href='mailto:pilasbloques@program.ar' @openOnNewTab={{false}}>pilasbloques@program.ar</Link>.</li>
  </ul>
  <li>Tenemos un <b>modo de lectura simple</b>, apropiado para las personas que lo necesiten: <br>
    <div class="center"><img src="imagenes/notasDeVersion/1.9.2/simpleReadMode.gif"/></div> 
  </li>
  <li>En el primer ciclo, ¡Podemos movernos entre desafíos!. Para ello agregamos botones para ir al <b>anterior</b> y al <b>siguiente</b>:<br>
    <div class="center"><img src="imagenes/notasDeVersion/1.9.2/challengeSwap.gif"/></div> 
  </li>
</ul>

<h2>1.8.0 (5 de noviembre de 2021)</h2>
<p>Estos son los principales cambios sucedidos <b>entre las versiones 1.7.2 y 1.8.0</b>:</p>
<ul>
  <li> ¡ Tenemos un <b>nuevo libro</b> con más actividades para Tecnópolis 2021 !  <br/> </li>
  <ul>
    <li>Se agregó un tercer libro, el libro "Tecnópolis", donde aparecen varios desafíos que también podrán realizarse "en el mundo real" en el stand de Pilas Bloques en Tecnópolis 2021, los viernes, sábados y domingos de noviembre y diciembre 2021.</li>
    <li>El libro agrupa además algunos desafíos ya existentes y alrededor de 20 nuevos desafíos.</li>
  </ul>
  <div class="center"><img src="imagenes/notasDeVersion/tecnopolis2021.png"/></div> 
</ul>

<h2>1.7.2 (21 de mayo de 2021)</h2>
<p>Estos son los principales cambios sucedidos <b>entre las versiones 1.6.1 y 1.7.2</b>:</p>
<ul>
  <li> ¡ Ahora Pilas Bloques permite <b>registrarse</b>!  <br/> </li>
  <ul>
    <li>Podes suspender tu trabajo y <b>retomarlo</b> desde donde lo habías dejado.</li>
    <li>Para mejorar Pilas Bloques y para colaborar con la investigacion en ciencias de la computación para la escuela argentina, comenzaremos a <b>recolectar información</b> como las soluciones y algunos datos personales de las y los usuarios registrados. Podes leer mas en los {{#link href='https://docs.google.com/document/d/e/2PACX-1vTNX9zl8txZmuINNz2qODrodoQhvr0o2-r3T_6yFp6quEpidmPz6ORx1HSjo2KNUg6MnyHPN-Ti44z1/pub'}}terminos y condiciones de uso{{/link}}.</li>
    <li>Podes <b>recuperar tu contraseña</b> con tu mail.</li>
  </ul>
  <div class="center"><img src="imagenes/notasDeVersion/ingresar.png"/></div> 
  <li> Se arreglaron bugs variados. <br/> 
  </li>
</ul>


<h2>1.6.1 (24 de agosto de 2020)</h2>
<p>Estos son los principales cambios sucedidos <b>entre las versiones 1.6.0 y 1.6.1</b>:</p>
<ul>
  <li> ¡Rediseñamos la pantalla de bienvenida y las fuentes usadas en la aplicación! Ahora esta posee un diseño más elegante. <br/> 
  </li>
  <li> Las versiones de escritorio de la aplicación comienzan maximizadas al iniciarlas. <br/> 
  </li>
  <li> Al finalizar la ejecución de un ejercicio, ahora se muestra el botón <b>Reiniciar</b> en vez de <b>Ejecutar</b>. <br/> 
  </li>
  <li> El botón del modo turbo vuelve a mostrar un color brillante para denotar que está activado. <br/> 
  </li>
  <li> Se soluciona problema que permitía resolver el ejercicio <b>Fútbol para robots</b> sin la necesidad de patear todas las pelotas. <br/> 
  </li>
  <li> Se cambió el nombre y el icono del bloque <b>abrir el cofre</b> por <b>abrir el cofre y tomar sombrero</b> en el ejercicio <b>La aventura del mar encantado</b>.<br/> 
  </li>
</ul>


<h2>1.6.0 (20 de Julio de 2020)</h2>
<p>Estos son los principales cambios sucedidos <b>entre las versiones 1.5.1 y 1.6.0</b>:</p>
<ul>
  <li> ¡Rediseñamos la aplicación! Ahora la página se puede ver y usar mejor en dispositivos como <b>celulares</b> y tablets. Así es la nueva disposición de los elementos en pantalla: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/1.6/disposicion.png"/></div> 
  </li>
  <li> Tenemos una <b>cabecera</b> nueva, que muestra el libro, capítulo y desafío actual: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/1.6/cabecera.png"/></div>
  </li>
  <li> Tenemos un <b>modo nocturno</b>, apropiado para descansar la vista ¡o simplemente si te gusta!: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/1.6/oscuro.gif"/></div>
  </li>
  <li> Ahora el <b>enunciado</b> y las pistas están visibles siempre arriba de todo: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/1.6/pistas.gif"/></div>
  </li>
  <li> Cuando estás desde el celu te recordamos rotarlo para ver mejor: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/1.6/rotarToto.png"/></div>
  </li>
  <li> Y ahora el tamaño del escenario se <b>ajusta</b> al tamaño de tu pantalla: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/1.6/ajusteAutomatico.gif"/></div>
  </li>
  <li> Y por último, está el modo <b>pantalla completa</b>, que sirve para tener toda la pantalla disponible para poder programar, y la posibilidad de cerrar el escenario del todo mientras programás: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/1.6/pantallaCompleta.gif"/></div>
  </li>
</ul>

<h2>1.5.1 (10 de Septiembre de 2019)</h2>
<p>Estos son los principales cambios sucedidos <b>entre las versiones 1.4.3 y 1.5.1</b>:</p>
<ul>
  <li> El cambio más importante de esta versión es que se empieza a utilizar una actualización de la tecnología interna utilizada (Ember), por lo que se solucionan varios problemas de seguridad de la aplicación. </li>
  <li> Ahora se avisa al usuario qué bloques dejan de funcionar al eliminar un parámetro: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/borrarParametro.gif"/></div> 
  </li>
  <li> Al importar una solución de otro ejercicio se grisan los bloques que no pertenecen a la actividad: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/bloque_no_disponible.png"/></div> 
  </li>
  <li> Detecta la presencia de bloques con "agujeros" al intentar ejecutar un programa con errores: <br/> 
    <div class="center"><img src="imagenes/notasDeVersion/agujeros.gif"/></div> 
  </li>
</ul>

<h2>1.4.3 (2 de Julio de 2019)</h2>
<p>Éstos son los principales cambios sucedidos <b>entre las versiones 1.4.2 y 1.4.3</b>:</p>
<ul>
  <li> ¡Nuevos bloques de procedimientos! Que mejoran la usabilidad para agregar parámetros. Son los mismos procedimientos que utiliza nuestra herramienta hermana Gobstones Web. <br/> <div class="center"><img src="imagenes/notasDeVersion/proceds_blockly.gif"/></div> </li>
  <li> Ahora al ejecutar una solución con procedimientos se resalta tanto el bloque que se está ejecutando como la llamada al procedimiento, si es debido. <br/> <div class="center"><img src="imagenes/notasDeVersion/highlight.gif"/></div> </li>
  <li> Se sacaron los condicionales de los ejercicios de Dibujo Libre ya que no cuentan con sensores para usarlos. </li>
  <li> Se agregaron íconos faltantes en algunos bloques de la actividad "Instalando juegos". <br/> <div class="center"><img src="imagenes/notasDeVersion/instalando_juegos.png"/></div> </li>
  <li> También se arreglaron los siguientes problemas: </li>
  <ul>
    <li> No mostraba el bloque "Al empezar a Ejecutar" en Wondows XP. </li>
    <li> Errores en las ventanas de guardar o cargar una solución spbq en Windows. </li>
    <li> Mejoras de algunos mensajes de error. </li>
    <li> Mejoras de las resoluciones de "Prendiendo las compus" e "Instalando juegos". </li>
    <li> Comportamientos extraños al crear y usar los bloques de procedimientos. </li>
  </ul>
</ul>

<h2>1.4.2 (25 de Marzo de 2019)</h2>
<p>Éstos son los principales cambios sucedidos <b>entre las versiones 1.4 y 1.4.2</b>:</p>
<ul>
  <li> Se incluyó un botón que acelera la velocidad de la escena para  de movimiento y de las animaciones de cada actor en escena. ¡Es el modo turbo! <br/> <div class="center"><img src="imagenes/notasDeVersion/modoTurbo.gif"/></div> </li>
  <li> Las actividades del Primer Ciclo ahora tardan un poco menos en cargar cuando se usa la aplicación de forma online. ¡Pronto más optimizaciones a la velocidad de carga! </li>
  <li> También en los ejercicios del libro del Primer Ciclo de primaria, cuando los personajes hablan, el diálogo se muestra en mayúsculas para facilitar su lectura. <br/> <div class="center"><img src="imagenes/notasDeVersion/mayusculas.png"/></div> </li>
  <li> Algunas cambios y correcciones a los desafíos de Coty:
    <ul>
      <li> Agregamos un nuevo desafío para Coty titulado: ¡Coty dibuja libre!. </li>
      <li> Coty ya no puede salir de la escena. Ahora dice ¡Me salgo de la pantalla!. </li>
      <li> Hicimos también algunos cambios visuales adicionales. </li>
    </ul>
  </li>
  <li> Agregamos un nuevo nuevo bloque en los ejercicios de Dibujando Figuras llamado "SaltarHaciaAdelante", que permite saltar hacia adelante sin dibujar un linea al desplazarse. <br/> <div class="center"><img src="imagenes/notasDeVersion/saltaAdelante.gif"/></div></li>
  <li> Corregimos algunos errores en los bloques "DibujarLado" y "MoverDireccionDibujando", que no respetaban la distancia recibida por parámetro en el bloque.</li>
</ul>

<h2>1.4 (12 de Octubre de 2018)</h2>
<p>Éstos son los principales cambios sucedidos <b>entre las versiones 1.1.2 y 1.4</b>:</p>
<ul>
  <li> ¡Ahora Pilas Bloques tiene un nuevo <b>libro de actividades</b>! Son los <i>Desafíos del manual para docentes "Ciencias de la Computación para el aula, 1° ciclo de primaria"</i>. Estos desafíos acompañan a dicho manual publicado por Program.AR (Más info {{#link href='http://program.ar/manual-segundo-ciclo-primaria/'}}aquí{{/link}}). 
  El segundo libro es el ya conocido, que contiene los <i>Desafíos del cuaderno para docentes "Actividades para aprender a Program.AR"</i>, para 2° ciclo de primaria en adelante, que acompaña al manual editado en 2015, también disponible desde la página.</li>
  <li> El nuevo "libro" del Primer Ciclo de primaria incluye 50 nuevas actividades, incluyendo conceptos de repetición simple y alternativa condicional, con el enfoque adecuado para primer ciclo de primaria.</li>
  <li> Se agrega deshacer y rehacer ¡Ahora podemos recuperar un bloque borrado accidentalmente!. También se agrega zoom y foco cuando el workspace es chico/grande. </li>
  <li> Ahora en todas las actividades se ilumina la instrucción que se está ejecutando. </li>
  <li> Corregidas animaciones y actividades como La gran aventura, Instalando Juegos, Laberinto con queso, etc.</li>
  <li> Varios arreglos menores como alguna velocidad de ejecución, íconos, enunciados, y toolboxes incompletos. </li>
  <li> También hicimos algunas mejoras en la velocidad de carga de la versión online.</li>
  <li> Ahora proveemos adicionalmente versiones portables para linux. </li>
</ul>

<h2>Versión 1.1.2 (24 de Enero de 2017)</h2>
<p>Éstos son los principales cambios sucedidos <b>entre las versiones 1.0.0 y 1.1.2</b>:</p>
<ul>
  <li>Se agregó un notificador de nueva versión para descargar.</li>
  <li>Se hicieron arreglos sobre las animaciones y chequeos de actividad completada en: El gato en la calle, Tres naranjas, La gran aventura del mar encantado, Instalando Juegos, Tito (en todos sus sabores) y más.</li>
  <li>Se agregó un deslizador para que se pueda ajustar manualmente el tamaño de la escena.</li>
  <li>Se hicieron correcciones al Detective Chaparro y a Laberinto Con Queso.</li>
  <li>Se migró la aplicación offline de Node-Webkit a Electron. Esto tiene dos consecuencias para el usuario:
    <ul>
      <li>Ahora es más fácil de instalar en un Linux Debian no-Huayra, como Ubuntu.</li>
      <li>Ahora el instalador no funciona en Windows XP.</li>
    </ul>
  </li>
  <li>Se cambiaron las actividades de Parametrización para que usen valores direcciones en vez de comparar por Strings.</li>
  <li>Se actualizó el Acerca De.</li>
</ul>

</div>
