<div class="descripciones">

<h1>Notas de versión</h1>

<p>Los cambios que fueron sucediendo con cada versión pueden encontrarse detallados {{#pilas-link href='https://github.com/Program-AR/pilas-bloques/blob/master/README.md'}}aquí{{/pilas-link}}, abajo de todo.
En esta página se listan los cambios más importantes ocurridos entre versiones estables.
</p>


<h2>Versión 1.1.2</h2>
<p>Éstos son los principales cambios sucedidos <b>entre las versiones 1.0.0 y 1.1.2</b>:</p>
<ul>
  <li>Se agregó un notificador de nueva versión para descargar.</li>
  <li>Se hicieron arreglos sobre las animaciones y chequeos de actividad completada en: El gato en la calle, Tres naranjas, La gran aventura del mar encantado, Instalando Juegos, Tito (en todos sus sabores) y más.</li>
  <li>Se agregó un deslizador para que se pueda ajustar manualmente el tamaño de la escena.</li>
  <li>Se hicieron correcciones al Detective Chaparro y a Laberinto Con Queso.</li>
  <li>Se migró la aplicación offline de Node-Webkit a Electron. Esto tiene dos consecuencias para el usuario:
    <ul>
      <li>Ahora es más fácil de instalar en un Linux Debian no-Huayra, como Ubuntu.</li>
      <li>Ahora el instalador no funciona en Windows XP.</li>
    </ul>
  </li>
  <li>Se cambiaron las actividades de Parametrización para que usen valores direcciones en vez de comparar por Strings.</li>
  <li>Se actualizó el Acerca De.</li>
</ul>

</div>
